body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;   
    background-color: #1F1B29; 
}

/* Pre-hover button */
button {
    background: none; /* this will make the element transparent, in this case the button */
    color: #FFA260;
    border: 2px solid; /* this will take away that 3D look to it. */
    padding: 1em 2em;
    /* instead of making a quick upwareds lift with transform, use transition to lift it smoothly */
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

/*  when you hover */
button:hover {
    border-color: #F1FF5C;
    color: white;
    /* boxshadow - offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0.5em 0.5em -0.4em #F1FF5C;
    /* this will move it upwards by using translateY using a negative number to lift the button element*/
    transform: translateY(-0.25em);
    cursor: pointer; /* this will change the mouse cursor to a mickey mouse glove */
}