/* INLINE - Width & Height are ignored. Margin & Padding push elements away horizontally but not vertically. */

/* BLOCK - Block elements break the flow of a document. Width, Height, Margin & Padding are respected. */

/* INBLINE-BLOCK - Behaved like an inline element except Width, Height, Margin & Padding are respected */

/* NOTES
h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
    /* these would be considered block level because they take up the entire body horizontally such as other headings and paragraphs */
    /* display: inline; */
    /* setting the h1's to INLINE will set them to only take up the width of the actual content as opposed to block (entire row) and they don't push anything else to the next line. */
/* } */

/* NOTES */
/* span {
    background-color: paleturquoise;
    border: 1px solid black;
    /* Spans by default are inline because they do not take up an entire space. Only solely what their width is. They don't push other elements to a separate line. */
    /* display: block; */
    /* setting the span to BLOCK will take up an entire line as opposed to its inline default setting and will push anything onto the next line */
/* } */ 

span {
    background-color: palevioletred;
    border: 1px solid black;
    width: 500px;
    /* width, height and length WON'T work with this because span is an INLINE element  */
    padding: 50px;
    /* PADDING however DOES work with inline elements. But it doesn't push any content. */
    margin: 50px; 
    /* MARGIN'S the outer layer of the element. The width is respected but the height is not and will not show */
}

h1 {
    background-color: paleturquoise;
    border: 1px solid black;
    width: 300px; /* Width will be respected */
    height: 200px; /* Height will also be respected and not ignored */
    padding: 50px; /* Padding will also be respected and applies */
    margin: 100px; /* This margin will be respected for the h1 unlike the span's margin */
}

div {
    height: 200px;
    width: 200px;
    background-color: olivedrab;
    border: 5px solid black; /* Each div is a black element and takes up a whole block which is why up to here they*/
    display: inline-block;
    /* if you use plain inline, it will not respect the height and width of olivedab and just be the 5px solid black border */
    /* but if you use inline-block, then it will make them inline elements while still respecting the height and width, therefor, an inline-block */
    margin: 50px;
}