h2 {
    color: teal;
    background-color: plum;
    /* background-color is the specific to change the background color */
}
button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;   
    background: orange; 
    /* background has more than the ability to change the color of the background, i.e. add an image */
}