section {
    background-color: #6D6875;
    width: 800px;
    height: 800px;
}

#percentages {
    background-color: #6D6875;
    width: 800px;
    height: 800px;
}


#percentages div {
    background-color: #E5989B;
    width: 70%;
    height: 20%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%; /* bein this case it would be 80px */
        /* display: none;  */
    /* this would make it disappear and is useful with javascript conditionals */
}

#ems h2 {
    font-size: 2em;
    /* 2em will inherit its parent's font size and multiply it by two. In this case it will inherit article's font size */
    margin-left: 1em;
}

#ems h3 {
    font-size: 1.5em;
}

#ems p {
    font-size: 1em;
    /* this will inherit the font size from the h2 */
}

#ems {
    font-size: 15px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    /* The button's font-size, padding and border-radius will scale to the parent's font size. In this case, the article's font-size */
    background-color: #2A9D8F;
    color: white;
}

#ems ul { 
    font-size: 1.5em;
}

/* REMs - root ems: Relative to the root html element's font-size. Often easier to work with. If the root font-size is 20px, 1 rem is always 20px, 2rem is always 40px, etc */
#rems h2{
    font-size: 3rem;
    /* this will be 3 times the root element's font size */
}

#rems h3{
    font-size: 2rem;
    /* this will be 2 times the root element's font size */
}

#rems ul{
    font-size: 1.5rem;
    /* this will be .8 the times the root element's font size */
}

#rems button {
    font-size: 1.5rem;
}
