div {
    /* to set the WIDTH and a HEIGHT for something; in this case the divs and the lorem ipsum contained in them */
    width: 200px;
    height: 200px;
    background-color: #E5989B;
}

h1 {
    background-color: pink;
    width: 100px;
    padding-left: 100px;
    padding-top: 50px;
    /* padding features will add space on whichever side you choose by pixels */
}

#one {
    background-color: #E5989B;
    border-width: 5px;
    /* border-width is commonly used and in order to see it, change its color */
    border-color: black;
    /* in order to see the border-color and its width, you must give it style with border-style */
    border-style: solid;
    /* the border's css will add on to the width of whatever element is being edited. In this case, the div with the id of one */
    box-sizing: border-box;
    /* setting box-sizing to border-box will set the border to whatever the element's width and height is originally set to. So if it is 200px, then it will be 200px, not 210px due to the border-width adding 5px to each side. */
}

#two {
    background-color: #B5838D;
    border-color: #FFCDB2;
    border-width: 3px;
    border-style: dashed;
    border-left-width: 8px;
    /* border-left-width will adjust the width of the pixels for the border style. */
    padding-right: 50px;
}

#three {
    background-color: #6D6875;
    border: 4px solid black;
    /* instead of writing the basic individual charactaristics of a BORDER, you can do it in one line in the following order:
    width | style | color */
    border-left-style: dotted;
    /* you can do a small individual update/tweak for each style */
    border-radius: 50%;
    /* border-radius allows us to set the radius of the corners to be rounder. You can use pixel or percentage value */
    /* border-radius - 10px will be round corners and 50% will be a full circle. More @ https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius */
}

button {
    /* padding: 20px; - all sides will contain 20px*/
    /* padding: 0 20px; - 0 padding on the top and 20px on sides */
    padding: 10px 20px 30px 40px;
    /* the padding shorthand property you can apply to all four at once: padding: 5px 1px 0 2px; --- top | right | bottom | left */
}