div {
    /* to set the WIDTH and a HEIGHT for something; in this case the divs and the lorem ipsum contained in them */
    width: 200px;
    height: 200px;
    background-color: #E5989B;
}

h1 {
    background-color: pink;
    width: 100px;
}

#one {
    background-color: #E5989B;
    border-width: 5px;
    /* border-width is commonly used and in order to see it, change its color */
    border-color: black;
    /* in order to see the border-color and its width, you must give it style with border-style */
    border-style: solid;
    /* the border's css will add on to the width of whatever element is being edited. In this case, the div with the id of one */
}

#two {
    background-color: #B5838D;
}

#three {
    background-color: #6D6875;
}