/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* The following code was taken from: https://meyerweb.com/eric/tools/css/reset/ and it normalizes the HTML to have a clean slate to work on. No bullet points or bigger headers or font. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* removes list styles ie bullet points */
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	/* change the background dash color to a light blue */
	background-color: #6089FF;
	/* Allow the display to be changed with flexbox then center it horizontally with flexbox */
	display: flex;
	justify-content: center;
	/* then center the items within the panel and give the body a minimum height of 100vh ie 100 Viewport Height (vh)  */
	align-items: center;
	min-height: 100vh;
}

html {
	/* Set font on entire HTML element */
	/* box-sizing factors in the width of the border when using border and margin sizing */
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.panel {
	/* make the panel have a white background, round out the corners and include padding */
	background-color: white;
	border-radius: 10px;
	padding: 15px 25px;
	/* make the width 100% but never let the width go past 960px */
	width: 100%;
	max-width: 960px;
	/* allow the panel to have a display of flex which will set it as a row default */
	display: flex;
	/* instead of the default being rows via display: flex, set them as columns. Looks bad with landscape, */
	flex-direction: column;
	/* center align everything in the panel and have it all uppercase */
	text-align: center;
	text-transform: uppercase;
}

.pricing-plan {
	/*  Create border lines to split each plan apart */
	border-bottom: 1px solid #E1F1FF;
}

/* Remove the border for the last pricing plan because a third line is not necessary */
.pricing-plan:last-child {
	border-bottom: none;
}

/* Add some margin to add space from each image and the other elements and only allow them to grow to 100% of their original width in size*/
.pricing-img {
	margin-bottom: 25px;
	max-width: 100%;
}

.pricing-header {
	/* the CSS for the pricing header which will make it gray, a little bolder and the letters spaced out */
	color: #888;
	font-weight: 600;
	letter-spacing: 1px;
}

.pricing-features {
	margin: 50px 0 25px;
	color: #016FF9;
}

.pricing-features-item {
	/* give them the same font-weight and letter-spacing as the header. Except a smaller font and some line-height space between each line. */
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 1.5; 
	/* then some padding outside the element */
	padding: 15px;
	border-top: 1px solid #E1F1FF;
}

.pricing-features-item:last-child {
	/* add lines between the last pricing feature item and the pricing price as well */
	border-bottom: 1px solid #E1F1FF;

}

/* the CSS for the pricing-price text */
.pricing-price {
	color: #016FF9;
	display: block;
	font-size: 32px;
	font-size: 700;
}

.pricing-button {
	border: 1px solid #9DD1FF;
	border-radius: 10px;
	color: #348EFE;
	display: inline-block;
	padding: 15px 35px; /* space between border and the content/text */
	text-decoration: none; /* this will remove the underline that links have when they've been visited */
	margin: 25px 0; /* this will give some space between this element and any others surrounding it */
	transition: all 200ms ease-in-out; /* this will give the smooth hover effect where it will highlight slowly instead of instantly */
}

.pricing-button:hover, .pricing-button:focus {
	background-color: #E1F1FF;
}

.pricing-button.is-featured {
	background-color: #48AAFF;
	color: white;
}

.pricing-button.is-featured:hover, .pricing-button.is-featured:focus {
	background-color: #269AFF;
	color: white;
}